<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\\Health_Prediction\\Data.mdb;Persist Security Info=False;" providerName="System.Data.OleDb"/>
	</connectionStrings>
  
	<system.web>
   
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
